@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import "tailwindcss";

@theme {
  --color-cream: #f7f2e9;
  --color-charcoal: #252525;
  --color-brand: #edc84b;
  --color-brand-dark: #e9bb24;
  --color-muted: #888888;
}

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
}
